

<div id="formDiv">
  <form name="decodingForm" id="decodingForm" method="POST" encType="multipart/form-data" action="/api/decode" > <!-- onsubmit="() => { return false }" -->
    <fieldset >
      <div class="formRow">
        <div><label for="key">key: </label></div>
        <div>
          <input type="text" name="key" id="key" class="inputBoxes"/> 
        </div>
      </div>
      <div class="formRow">
        <div><label for="nonce">nonce: </label></div>
        <div>
          <input type="text" name="nonce" id="nonce" class="inputBoxes"/> 
        </div>
      </div>
      <div class="formRow">
        <div><label for="">image to decode:</label></div>
        <div><input type="file" name="imagefile" id="imagefile"/></div>
      </div>    
      <div class="formRow">
        <button name="submit" id="submit">submit</button>
      </div>
    </fieldset>
  </form>
</div>
<div id="imgDiv">
  <div id="errMsg"></div>
  <div>
      <div class="formRow">
        <div><label for="msg">msg: </label></div>
        <div><textarea name="msg" id="msg" class="inputBoxes"></textarea></div>
      </div>
  </div>
</div>