<div id="formDiv">
  <form  onsubmit="() => { return false }"> 
    <fieldset >
      <div class="formRow">
        <div>
          <label for="pubKey">pubKey: </label>
          <input type="text" name="pubKey" id="pubKey" class="inputBoxes"/> 
        </div>
        <div>
          <label for="priKey">priKey: </label>
          <input type="text" name="priKey" id="priKey" class="inputBoxes"/>
        </div>
        <div>          
          <button name="generateKeys" id="generateKeys">generate keys</button>
        </div>
      </div>
    </fieldset>
    </form>
  </div>