<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js"></script>
    <script src="/javascripts/geheimerbaer.js"></script>
  </head>
  <body>
    <div  class="clearfix">
      <div class="navItem"><span><a href="/encode-symmetric">Encode Symmetric</a></span></div>
      <div class="navItem"><span><a href="/encode-asymmetric">Encode Asymmetric</a></span></div>
      <div class="navItem"><span><a href="/decode-symmetric">Decode Symmetric</a></span></div>
      <div class="navItem"><span><a href="/decode-asymmetric">Decode Asymmetric</a></span></div>
      <div class="navItem"><span><a href="/keypairs">Generate Keypairs</a></span></div>
    </div>
    <hr  class="clearfix"/>
    <div id="pageBody" class="clearfix">
      {{{body}}}
    </div>
  </body>
</html>
